{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react",
    "jasmine"
  ],
  "rules": {
    "indent": [2, 4],
    "comma-dangle": 0,
    "id-length": 0,
    "new-cap": 0,
    "react/jsx-boolean-value": 0
  }
}